{# templates/main/add_comment.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter un Commentaire{% endblock %}

{% block body %}
    <h1>Ajouter un Commentaire</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
