{# templates/image/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
    <h1>Galerie d'images</h1>

    <div class="gallery">
        {% for image in images %}
            <div class="image-item">
                <img src="{{ asset(image.path) }}" alt="{{ image.namePhoto }}">
                <form method="post" action="{{ path('image_delete', {'id': image.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette image ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}
