{% extends 'base.html.twig' %}

{% block body %}
<h1>Ajouter une image a la galerie</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn">Télécharger</button>
{{ form_end(form) }}
{% endblock %}