/* ----- ACCUEIL -----*/

#ImageAccueil1, #ImageAccueil2, #ImageAccueil3 {
  width: 100%;
  height: auto; /* Ajustement automatique de la hauteur pour maintenir les proportions */
  max-height: 60vh; /* Hauteur maximale pour chaque image */
  object-fit: cover; /* Assure que l'image couvre tout l'espace disponible sans déformation */
  display: block;
  margin: 0 auto;
}

.custom-block, .custom-block2, .custom-block3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh; /* Hauteur fixe pour chaque bloc */
  padding: 20px;
  margin-bottom: 2em; /* Espace en bas de chaque bloc */
}

.custom-block2 {
  flex-direction: row-reverse; /* Inverser l'ordre des éléments */
}

.custom-image {
  width: 22%; /* Largeur de l'image ajustée */
  height: auto; /* Hauteur automatique pour garder les proportions */
  object-fit: cover;
}

.custom-text-block {
  width: 50%; /* Largeur du bloc de texte */
  padding: 0 20px; /* Marge intérieure à gauche et à droite */
  text-align: justify; /* Justification du texte */
}

.custom-title {
  margin-bottom: 0.2em;
  font-size: 2.5em; 
   font-family: "Licorice", cursive;
   text-align: center;
}

.custom-subtitle {
  margin-bottom: 1em;
  font-size: 1em;
  text-align: center;
}

.custom-paragraph {
  font-size: 1em;
  line-height: 1.6; /* Espacement des lignes pour une meilleure lisibilité */
}

/* ----- ANNOUNCES -----*/


.announcement-container {
  background-color: #f8f9fa; /* Couleur de fond pour le conteneur */
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
}

.title-licorice {
  font-family: 'Licorice', cursive;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.subtitle {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
  color: #666;
}

.btn-custom {
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-custom.btn-warning {
  background-color: #ffc107; /* Jaune */
  color: #212529; /* Couleur du texte */
  border: none;
}

.btn-custom.btn-danger {
  background-color: #dc3545; /* Rouge */
  color: #fff; /* Couleur du texte */
  border: none;
}

.btn-custom.btn-primary {
  background-color: #007bff; /* Bleu */
  color: #fff; /* Couleur du texte */
  border: none;
}

#announce_Name_Announce{
margin: 0.5em;
}



/* ----- CONTACT -----*/

.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffe6f2; /* Fond rose clair */
}

.contact-box {
  width: 90%; /* Largeur presque pleine */
  max-width: 1200px; /* Largeur maximale */
  text-align: center;
  padding: 20px;
  border: 10px solid transparent;
  background-color: #ffffff; /* Fond blanc pour la boîte */
  color: #ff66b2; /* Texte rose foncé */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
  margin-bottom: 20px;
}

.contact-box h2,
.contact-box h4,
.contact-box h5 {
  margin: 10px 0;
}


/* ----- PROFIL -----*/

#containerProfil {
  margin-top: 6em;
  background-color: rgb(118, 67, 101); /* Couleur de fond */
  height: 200px;
}

/* ----- COMMENTS -----*/

.comments-container {
  background-color: #f5f5dc; /* Fond beige clair */
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

/* ----- CALENDAR -----*/

#calendar {
  width: 100%; /* Largeur totale */
}

/* ----- NAVBAR -----*/

#logo {
  width: 180px; /* Largeur originale du logo */
  margin-right: 3em;
}

#titlenavbar {
  gap: 1em;
  font-family: "Licorice", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
}

#search {
  margin-right: 2em;
}

/* ----- GALLERY -----*/

.gallery-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px; /* Ajustement du positionnement */
  margin-bottom: 20px; /* Espace en bas */
}

.title-licorice {
  font-family: 'Licorice', cursive;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.btn {
  display: block;
  margin: 0 auto 20px auto;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.btn.btn-danger {
  background-color: #dc3545; /* Rouge */
}

.btn:hover {
  background-color: #0056b3;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacement entre les images */
  justify-content: center; /* Centrer les images horizontalement */
}

.image-item {
  width: 350px; /* Largeur fixe pour chaque image */
  height: 350px; /* Hauteur fixe pour chaque image */
  overflow: hidden; /* Masquer tout contenu dépassant de l'image */
  position: relative;
  margin-bottom: 20px; /* Espace en dessous de chaque image */
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que l'image couvre tout l'espace de l'élément */
  display: block;
  border: 2px solid #000; /* Bordure noire de 2px autour de chaque image */
  border-radius: 8px; /* Coins arrondis */
  transition: transform 0.3s ease; /* Effet de transition pour une meilleure expérience utilisateur */
}

.image-item:hover img {
  transform: scale(1.1); /* Zoom légèrement l'image au survol */
}

.image-item form {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.zoomable-image:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .image-item {
      width: calc(50% - 20px); /* Deux images par ligne sur les écrans moyens */
  }
}

@media (max-width: 480px) {
  .image-item {
      width: 100%; /* Une image par ligne sur les petits écrans */
  }
}

/* ----- NEW IMAGE -----*/


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 10vh;
  background-color: #f5f5f5;
  height: 90vh;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.title-licorice {
  font-family: 'Licorice', cursive;
  margin-bottom: 20px;
  color: #333;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container .btn {
  align-self: center;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.form-container .btn:hover {
  background-color: #0056b3;
}