/* ----- NAVBAR -----*/

#logo {
  width: 180px;
  margin-right: 3em;
}

#titlenavbar {
  gap: 1em;
  font-family: "Licorice", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

#search {
  margin-right: 2em;
}

/* ----- ACCUEIL -----*/

#ImageAccueil1, #ImageAccueil2, #ImageAccueil3 {
  width: 100%;
  height: 60vh;  /* Utilisation de 60% de la hauteur de la fenêtre */
  object-fit: cover;  /* Assure que l'image couvre tout l'espace disponible sans déformation */
  display: block;
  margin: 0 auto;
}

.custom-block, .custom-block3, .custom-block2 {
  display: flex;
  align-items: center;
  height: 60vh;  /* Hauteur fixe */
  justify-content: space-around;
}

.custom-block2 {
  flex-direction: row-reverse;
}

.custom-image {
  width: 20%;
  height: 50vh;  /* Hauteur fixe */
  object-fit: cover;
}

.custom-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.custom-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-title {
  margin-bottom: 0.5em;
  font-size: 2em;
}

.custom-subtitle {
  margin-bottom: 1em;
  font-size: 1em;
}

.custom-paragraph {
  font-size: 1em;
}


/* ----- CONTACT -----*/

.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffe6f2; /* Light pink background */
}

.contact-box {
  width: 90%; /* Almost full width */
  max-width: 1200px; /* Maximum width */
  text-align: center;
  padding: 20px;
  border: 10px solid transparent;
  background-color: #ffffff; /* White background for the box */
  color: #ff66b2; /* Dark pink text */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  margin-bottom: 20px;
}

.contact-box h2, .contact-box h4, .contact-box h5 {
  margin: 10px 0;
}

.food-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.food-icons img {
  margin: 10px;
  width: 50px; /* Adjust the size as needed */
  height: 50px;
}

/* ----- PROFIL -----*/

#containerProfil {
  margin-top: 6em;
  background-color: rgb(118, 67, 101);
  height: 200px;
}

/* ----- COMMENTS -----*/

.comments-container {
  background-color: #f5f5dc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

/* ----- CALENDAR -----*/

#calendar {
  width: 100%;
}
