/* ----- ACCUEIL -----*/

#ImageAccueil1,
#ImageAccueil2,
#ImageAccueil3 {
  width: 100%;
  height: auto;
  max-height: 60vh; /* Hauteur maximale pour chaque image */
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.custom-block,
.custom-block2,
.custom-block3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh; /* Hauteur fixe pour chaque bloc */
  padding: 20px;
  margin-bottom: 2em;
}

.custom-block2 {
  flex-direction: row-reverse;
}

.custom-image {
  width: 22%;
  height: auto; /* Hauteur automatique pour garder les proportions */
  object-fit: cover;
}

.custom-text-block {
  width: 40%; /* Largeur du bloc de texte */
  padding: 0 20px; /* Marge intérieure à gauche et à droite */
  text-align: justify;
}

.custom-title {
  margin-bottom: 0.2em;
  font-size: 2.5em;
  font-family: "Licorice", cursive;
  text-align: center;
}

.custom-subtitle {
  margin-bottom: 1em;
  font-size: 1em;
  text-align: center;
}

.custom-paragraph {
  font-size: 1em;
  line-height: 1.6; /* Espacement des lignes pour une meilleure lisibilité */
}

/* ----- ANNOUNCES -----*/

.announcement-container {
  background-color: #f8f9fa; /* Couleur de fond pour le conteneur */
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
}

.title-licorice {
  font-family: "Licorice", cursive;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.subtitle {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
  color: #666;
}

.btn-custom {
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-custom.btn-warning {
  background-color: #cbab49d6;
  color: #212529;
  border: none;
}

.btn-custom.btn-danger {
  background-color: #dc3545; 
  color: #fff;
  border: none;
}

.btn-custom.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

#announce_Name_Announce {
  margin: 0.5em;
}

/* ----- CONTACT -----*/

.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f49ce8;
}

.contact-box {
  width: 90%;
  max-width: 1200px;
  text-align: center;
  padding: 20px;
  border: 10px solid transparent;
  background-color: #895284;
  color: #f9f9f9; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}

.contact-box h2 {
  font-family: "Licorice", cursive;
  font-size: 3em;
  text-decoration:underline;
  margin-bottom: 1em;
}
.contact-box h4 {
  font-size: 2em;
  margin: 0.5em;
}
.contact-box h5 {
  margin: 10px 0;
}

/* ----- PROFIL -----*/

#containerProfil {
  margin-top: 6em;
  background-color: rgb(235, 217, 229);
  height: 200px;
}

/* ----- COMMENTS -----*/

.comments-container {
  background-color: #efd0e4;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.comments-title {
  font-family: "Licorice", cursive;
  font-size: 2em;
}
/* ----- CALENDAR -----*/

#calendar {
  width: 100%;
}

/* ----- NAVBAR -----*/

#logo {
  width: 180px;
  margin-right: 3em;
}

#titlenavbar {
  gap: 1em;
  font-family: "Licorice", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
}

#search {
  margin-right: 2em;
}

.subtitle{
  margin: 1em;
}

/* ----- GALLERY -----*/

.gallery-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.title-licorice {
  font-family: "Licorice", cursive;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.btn {
  display: block;
  margin: 0 auto 20px auto;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.btn.btn-danger {
  background-color: #dc3545; 
}

.btn:hover {
  background-color: #0056b3;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacement entre les images */
  justify-content: center;
}

.image-item {
  width: 350px;
  height: 350px; 
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 2px solid #000;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Effet de transition image */
}

.image-item:hover img {
  transform: scale(1.1); /* Zoom légèrement l'image au survol */
}

.image-item form {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.zoomable-image:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .image-item {
    width: calc(50% - 20px); /* Deux images par ligne sur les écrans moyens */
  }
}

@media (max-width: 480px) {
  .image-item {
    width: 100%; /* Une image par ligne sur les petits écrans */
  }
}

/* ----- NEW IMAGE -----*/

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 10vh;
  background-color: #f5f5f5;
  height: 90vh;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.title-licorice {
  font-family: "Licorice", cursive;
  margin-bottom: 20px;
  color: #333;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container .btn {
  align-self: center;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.form-container .btn:hover {
  background-color: #0056b3;
}

/* ----- INSCRIPTION ----- */

.inscription-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 2em;
}

.inscription-container h1 {
  color: #007bff;
  font-family: "Licorice", cursive;
  text-align: center;
  font-size: 4em;
  padding: 1em;
}

.inscription-container legend {
  color: #28a745;
}

.inscription-container fieldset.mb-3 legend {
  color: #17a2b8;
}

.btn-submit {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
