{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="contact-page">
  <div class="contact-box">
    <h2>Vous pouvez me joindre ici :</h2>
    <h4>Zajac Kelly</h4>
    <h5>Traiteur</h5>
    <h5>Numéro de téléphone : 07 88 08 67 65</h5>
    <h5>Adresse : 316 impasse du Pacault, Lestrem, France, 62136</h5>
  </div>


{% endblock %}
